body {
  font-family: "Poppins", cursive;
}

html body h1, html body h2, html body h3 {
  font-family: 'Caveat', cursive;
}

h1,
h2,
h3 {
  font-family: "Caveat", cursive;
}

h4,
h5,
h6 {
  font-family: "Caveat", cursive;
}

